body {
  margin: 0;
  background-color: #D9D9D9;
  height: 100%;
  align-items: center;
  }


.header {
background-color: #000000;
padding: 0;
position: fixed;
z-index: 10000;
display: flex;
justify-content: center;
align-items: center;

top: 0;
left: 0;
width: 100%;
height: 85px;
}

.header img {
  margin: 0 10.5px;
}

.imgs {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.imgs img {
  margin: 25px 0px;
  min-width: 5%;
}

.bloco {
  height: 100%;
  background-color: #375B84;
}

.cabecalho {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#fundo{
  width: 100%;
  height: 276px;
}

.div-titulo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;

  position: absolute;
  width: 457px;
  height: 276px;
  top: 85px;

  background: rgba(0, 0, 0, 0.26);
}

.titulo {
  font-family: 'Kaisei Decol';
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 139px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFCFC;
}

.conteudo {
  display:block;
  padding-bottom: 0.1px;
}

.txt-div {
  background-color: #D9D9D9;
  padding: 86px 25px;
  margin: 0 65px 58px;
}

.txt-div p {
  font-family: 'Kaisei Decol';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 23px;
text-align: justify;
}

footer {
  bottom: 0;
  width: 100%;
  height: 85px;
  background-color: #000000;
}