    body {
      margin: 0;
      background-color: #375B84;
      background-image: url('../img/fundo.png');
      background-repeat: no-repeat;
      background-size: 73% auto;
      background-position: top left;
      height: 1000px;
      }


    .header {
      background-color: #000000;
      padding: 0;
      position: fixed;

      display: flex;
      justify-content: center;
      align-items: center;

      top: 0;
      left: 0;
      width: 100%;
      height: 85px;
    }

    .header img {
        margin: 0 10.5px;
      }

    .txtdiv-inicio {
        position: absolute;
        z-index: -10000;
        top: 137px;
        right: 70px;
        width: 31%;
        height: 73%;
        background-color: #D9D9D9;
        align-items: center;
      }
      .vertical-center {
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
      .txt-inicio {
        position: absolute;
        left: 40px;
        right: 40px;
        text-align: justify;
      }

      .txt-inicio h2 {
        font-size: 30px;
      }

      .txt-inicio p {
        font-size: 22px;
      }

      .bandeira {
        position: relative;
      }
  
      .bandeira img {
        position: absolute;
        left: 176px;
        top: 703px;
        bottom: 35px;
      }

      .text-div {
        position: absolute;
        z-index: -10000;
        left: 166px;
        top: 85px;
      }

      .text-div p {
        font-size: 96px; 
        line-height: 100%; 
        color: rgba(217, 217, 217, 1);
      }

    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 85px;
        background-color: #000000;
      }
 
    .content {
      margin-top: 100px;
    }